%link {
  display: block;
  text-decoration: none;
  cursor: pointer;
  
}

%list {
  margin: 0;
  padding: 0;
  list-style: none;
}

%button {
  @include size(194px, 54px);

  display: block;
  margin: 0;
  border: 1px solid $border-btn-color;
  font-family: $main-font;
  font-weight: 700;
  font-size: $main-size;
  color: $color-title;
  cursor: pointer;
}

%icon-pos {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;  
}

%background-pos {
  background-position: bottom;
  background-size: contain;
  background-repeat: no-repeat;  
}

%psevdo {
  display: block;
  content: "";
  height: 1px;
  background-color: $color-title;
}